{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 text-black">
                    March Offers
                </h1>
                <h2>Nutrition and Wellness Boost</h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->
<div class="container-fluid banner-image-container">
    <a href="">
        <img src="{{ MEDIA_URL }}free-spring-flower-wreath-background-vector.jpg" alt="Spring Offers Banner">
    </a>
</div>
<div class="container-fluid section-container bg-light-blue">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                About Us
            </span>
            <b></b>
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <p>
                Dargan Health Foods is a bustling, Irish-owned health-food store in Castletroy, Limerick which proudly
                offers a wide range of organic produce.
                Our shelves are stocked with everything you’ll need to live a naturally healthy life:
                wholegrain breads and cereals, gluten-free, dairy-free, nut-free, vegan and paleo products, bulk spices and seeds,
                environmentally friendly cleaning products and baby goods.
            </p>
            <p>All our staff are highly trained and experienced and able to offer sound advice. We're here to serve your
                journey into health!
            </p>
            <a class="page-link-with-arrow" href="" title="Our Story"><span class="link">Our Story</span></a>
        </div>
    </div>
</div>
<div class="container-fluid section-container">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                Latest Posts
            </span>
            <b></b>
        </h2>
    </div>
    <div class="container section-content-container">
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
            <div class="card text-center">
                <a href="#" class="blog-post-link">
                    <img src="{{ MEDIA_URL }}easy-vegan-swaps.jpg" class="card-img-top" alt="Easy Vegan Swaps">
                </a>
                <div class="card-body">
                    <p class="card-text">Recipes | March 18th 2021</p>
                    <a href="#" class="blog-post-link">
                        <h5 class="card-title">Easy Vegan Swaps</h5>
                    </a>
                </div>
            </div>   
        </div>
        <div class="col-12 col-md-6">
            <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
            <div class="card text-center">
                <a href="#" class="blog-post-link">
                    <img src="{{ MEDIA_URL }}heart-health.jpg" class="card-img-top" alt="Heart Health">
                </a>
                <div class="card-body">
                    <p class="card-text">Health | February 14th 2021</p>
                    <a href="#" class="blog-post-link">
                        <h5 class="card-title">Heart Health</h5>
                    </a>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="page-link-with-arrow" href="" title="View Our Blog"><span class="link">View Our Blog</span></a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}