{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 text-black">
                    March Offers
                </h1>
                <h2>Nutrition and Wellness Boost</h2>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->
<div class="container-fluid banner-image-container">
    <a href="">
        <img src="{{ MEDIA_URL }}free-spring-flower-wreath-background-vector.jpg" alt="Easter Offers Banner">
    </a>
</div>
<div class="container-fluid section-container bg-light-blue">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                About Us
            </span>
            <b></b>
        </h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <p>
                Dargan Health Foods is a bustling, Irish-owned health-food store in Castletroy, Limerick which proudly
                offers a wide range of organic produce.
                Our shelves are stocked with everything you’ll need to live a naturally healthy life:
                wholegrain breads and cereals, gluten-free, dairy-free, nut-free, vegan and paleo products, bulk spices and seeds,
                environmentally friendly cleaning products and baby goods.
            </p>
            <p>All our staff are highly trained and experienced and able to offer sound advice. We're here to serve your
                journey into health!
            </p>
            <!-- <a class="page-link-with-arrow" href="" title="Our Story">Our Story <span class="move-right">></span></a> -->
            <a class="page-link-with-arrow" href="" title="Our Story"><span class="link">Our Story</span></a>
        </div>
    </div>
</div>
<div class="container-fluid section-container">
    <div class="container section-title-container">
        <h3 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                Popular Products
            </span>
            <b></b>
        </h3>
    </div>
</div>
{% endblock %}