{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Home{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- Banner Image -->
<div class="container-fluid banner-image-container">
    <a href="">
        <img src="{{ MEDIA_URL }}free-spring-flower-wreath-background-vector.jpg" alt="Spring Offers Banner">
    </a>
</div>
<!-- New Products -->
<div class="container-fluid section-container">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                New Arrivals
            </span>
            <b></b>
        </h2>
    </div>
    <div class="container section-content-container">
        <div class="row">
            {% for product in latest_products %}
            <div class="col-6 col-md-3">
                <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                <div class="card text-center">
                    <a href="{% url 'product_detail' product.id %}" class="product-link">
                        <img src="{{ MEDIA_URL }}{{ product.main_image }}" class="card-img-top" alt="{{ product.abbreviated_friendly_name }}">
                    </a>
                    <div class="card-body">
                        <p class="card-text brand-name">{{ product.brand }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="product-link">
                            <h5 class="card-title">{{ product.abbreviated_friendly_name }}</h5>
                        </a>
                        <p class="card-text product-price">€{{ product.price }}</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <input type="hidden" name="sku" value="{{ product.sku }}">
                                    <div class="button-wrapper">
                                        <button class="btn-orange quick-add-to-cart-btn" type="submit" data-test="quick-add"
                                            data-uievent="addtobasket" data-skuid="{{ product.sku }}" data-productid="{{ product.id }}"
                                            data-href="/shop/product/{{ product.name }}">
                                            Add to Cart
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 text-center">
                    <a class="page-link-with-arrow" href="{% url 'products' %}" title="View All New In">
                        <span class="link">View All New Products</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us -->
<div class="container-fluid section-container bg-light-green">
    <a class="anchor" id="about"></a>
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                About Us
            </span>
            <b></b>
        </h2>
    </div>
    <div class="container section-content-container">
    <div class="row">
        <div class="col-12 text-center">
            <p>
                Dargan Health Foods is a bustling, Irish-owned health-food store in Castletroy, Limerick which proudly
                offers a wide range of organic produce.
                Our shelves are stocked with everything you’ll need to live a naturally healthy life:
                wholegrain breads and cereals, gluten-free, dairy-free, nut-free, vegan and paleo products, bulk spices
                and seeds,
                environmentally friendly cleaning products and baby goods.
            </p>
            <p>All our staff are highly trained and experienced and able to offer sound advice. We're here to serve your
                journey into health!
            </p>
            <a class="page-link-with-arrow" href="{% url 'our_story' %}" title="Our Story"><span class="link">Our Story</span></a>
        </div>
    </div>
    </div>
</div>
<!-- Latest Blog Posts -->
<div class="container-fluid section-container">
    <div class="container section-title-container">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                Latest Posts
            </span>
            <b></b>
        </h2>
    </div>
    <div class="container section-content-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                <div class="card text-center">
                    <a href="#" class="blog-post-link">
                        <img src="{{ MEDIA_URL }}easy-vegan-swaps.jpg" class="card-img-top" alt="Easy Vegan Swaps">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Recipes | March 18th 2021</p>
                        <a href="#" class="blog-post-link">
                            <h5 class="card-title">Easy Vegan Swaps</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                <div class="card text-center">
                    <a href="#" class="blog-post-link">
                        <img src="{{ MEDIA_URL }}heart-health.jpg" class="card-img-top" alt="Heart Health">
                    </a>
                    <div class="card-body">
                        <p class="card-text">Health | February 14th 2021</p>
                        <a href="#" class="blog-post-link">
                            <h5 class="card-title">Heart Health</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="page-link-with-arrow" href="" title="View Our Blog"><span class="link">View Our
                            Blog</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter -->
<div class="container-fluid section-container bg-light-green">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <h2>Sign Up For Our Newsletter</h2>
            <p>Join our mailing list to get the latest updates and offers straight to your inbox.</p>
        </div>
        <div class="col-12 col-lg-9 mx-auto text-center newsletter">
            <form class="form subscribe" novalidate="novalidate" action="" method="post" id="newsletter-validate-detail">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control border-apple-green rounded-0" id="newsletter-email" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="newsletter-submit-button">
                        <div class="input-group-append" id="newsletter-submit-button">
                            <button class="btn btn-apple-green" type="button">   
                                <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}