{% load products_tags %}

<div class="breadcrumbs">
    <ul class="items">
        <!-- Home Breadcrumb -->
        <li class="item home">
            <a href="{% url 'home' %}" title="Go to Home Page">
                Home
            </a>
        </li>
        {% if current_department or current_category or search_term or current_tag or current_sorting %}
            <!-- All Products Breadcrumb -->
            <li class="item products">
                <a href="{% url 'products' %}" title="Go to Products Page">
                    Products
                </a>
            </li>
            <!-- Department Breadcrumb -->
            {% if current_department %}
                <li class="item department">
                    <strong>
                        {% if current_sorting == "-date_added_None" %}
                            New In 
                        {% else %}
                            All 
                        {% endif %}
                        {{ current_department|first|title|to_ampersand }}
                    </strong>
                </li>
            <!-- Category Breadcrumb-->
            {% elif current_category %}
                <li class="item category">
                    <strong>{{ current_category|first|title|to_ampersand }}</strong>
                </li>
            <!-- Search Term Breadcrumb -->
            {% elif search_term %}
                <li class="item search_term">
                    <strong>Search Results For: "{{ search_term|truncatechars:25 }}"</strong>
                </li>
            <!-- Product Tag Breadcrumb -->
            {% elif current_tag %}
                <li class="item tag">
                    <strong>{{ current_tag|first|title|to_ampersand }}</strong>
                </li>
            <!-- All New In Breadcrumb -->
            {% elif current_sorting == "-date_added_None" %}
                <li class="item new_in">
                    <strong>New In</strong>
                </li>
            {% else %}
            {% endif %}
        {% else %}
            <li class="item products">
                <strong>Products</strong>
            </li>
        {% endif %}
    </ul>
</div>