{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}My Account{% endblock %}

{% block extra_header %}
    {% include 'includes/delivery_banner.html' %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="my_account">
                        <strong>My Account</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- My Account Page Title -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <h1 class="logo-font-heading mb-4">My Account</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto mb-3">
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active common-button" id="pills-my-details-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-my-details" type="button" role="tab" aria-controls="pills-my-details"
                        aria-selected="true">My Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link common-button" id="pills-my-address-book-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-my-address-book" type="button" role="tab"
                        aria-controls="pills-my-address-book" aria-selected="false">My Address Book</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link common-button" id="pills-my-order-history-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-my-order-history" type="button" role="tab"
                        aria-controls="pills-my-order-history" aria-selected="false">My Order History</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link common-button" id="pills-my-product-reviews-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-my-product-reviews" type="button" role="tab"
                        aria-controls="pills-my-product-reviews" aria-selected="false">My Product Reviews</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link common-button" id="pills-my-blog-comments-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-my-blog-comments" type="button" role="tab"
                        aria-controls="pills-my-blog-comments" aria-selected="false">My Blog Comments</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <!-- My Details -->
                <div class="tab-pane fade show active" id="pills-my-details" role="tabpanel"
                    aria-labelledby="pills-my-details-tab">
                    <p class="subtitle">Profile Information</p>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <th scope="col">Username</th>
                                <td class="d-none d-md-block">{{ user.username }}</td>
                            </tr>
                            <tr class="d-block d-md-none">
                                <td colspan="2">
                                    {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Email address</th>
                                <td class="d-none d-md-block">{{ user.email }}</td>
                            </tr>
                            <tr class="d-block d-md-none">
                                <td colspan="2">
                                    {{ user.email }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-end pt-3">
                                    <a class="common-button btn-apple-green" href="{% url 'account_change_password' %}">
                                        <i class="fas fa-unlock-alt"></i>&nbsp;Change Password
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- My Address Book -->
                <div class="tab-pane fade" id="pills-my-address-book" role="tabpanel"
                    aria-labelledby="pills-my-address-book-tab">
                    <p class="subtitle">Default Delivery Information</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="button-row">
                            <button class="common-button btn-apple-green float-end" type="submit">
                                <i class="fas fa-edit"></i>&nbsp;Update Information
                            </button>
                        </div>
                    </form>
                </div>
                <!-- My Order History -->
                <div class="tab-pane fade" id="pills-my-order-history" role="tabpanel"
                    aria-labelledby="pills-my-order-history-tab">
                    <p class="subtitle">
                        Order History
                    </p>
                    {% if orders %}
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" class="blue-text-link">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>
                                    {{ order.date }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.product.friendly_name }} x{{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    €{{ order.grand_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have yet to order any products.</p>
                    {% endif %}
                </div>
                <!-- My Product Reviews -->
                <div class="tab-pane fade" id="pills-my-product-reviews" role="tabpanel"
                    aria-labelledby="pills-my-product-reviews-tab">
                    <p class="subtitle">
                        Product Reviews
                    </p>
                    {% if reviews %}
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="col review_product" scope="col">Product</th>
                                <th class="col review_date" scope="col">Date</th>
                                <th class="col review_rating" scope="col">Rating</th>
                                <th class="col review_title" scope="col">Review</th>
                                <th class="col delete" scope="col"><i class="fas fa-user-edit"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %}
                            <tr>
                                <td>
                                    <a class="green-text-link" href="{% url 'product_detail' review.product.id %}">
                                        {{ review.product.abbreviated_friendly_name }}
                                    </a>
                                </td>
                                <td>
                                    {{ review.created }}
                                </td>
                                <td>
                                    <div class="d-none d-md-block">
                                        <span class="stars-outer ">
                                            <span class="stars-inner"
                                                style="width:{% widthratio review.review_rating 5 100 %}%;"></span>
                                        </span>
                                    </div>
                                    <div class="d-block d-md-none">{{ review.review_rating }}
                                        <i class="fas fa-star single-star"></i>
                                    </div>
                                </td>
                                <td>
                                    {{ review.review_title }}
                                </td>
                                <td class="item-delete">
                                    <!-- Link to Edit ProductReview Form -->
                                    <a class="blue-text-link" href="{% url 'edit_review' review.id %}">Edit</a> <span
                                        class="d-none d-xl-inline">|</span>
                                    <!-- Delete Review Modal Trigger -->
                                    <a class="red-text-link" data-bs-toggle="modal"
                                        data-bs-target="#deleteReviewModal{{ review.id }}">Delete</a>
                                    <!-- Delete Review Modal -->
                                    <div class="modal fade" id="deleteReviewModal{{ review.id }}" tabindex="-1"
                                        aria-labelledby="deleteReviewModal{{ review.id }}Label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content rounded-0">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-red text-center"
                                                        id="deleteReviewModal{{ review.id }}Label">
                                                        Are you sure that you want to delete this review?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    Your product review really helps other shoppers get a clearer idea
                                                    of the product before purchasing it.
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <a class="common-button btn-blue" data-bs-dismiss="modal">
                                                        <i class="fas fa-undo"></i>&nbsp;Cancel</a>
                                                    <a class="common-button btn-grey"
                                                        href="{% url 'delete_review' review.id %}">
                                                        <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have yet to review any products.</p>
                    {% endif %}
                </div>
                <!-- My Blog Comments -->
                <div class="tab-pane fade" id="pills-my-blog-comments" role="tabpanel"
                    aria-labelledby="pills-my-blog-comments-tab">
                    <p class="subtitle">
                        Blog Comments
                    </p>
                    {% if comments %}
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="col comment_post" scope="col">Blog Post</th>
                                <th class="col comment_date" scope="col">Date</th>
                                <th class="col comment" scope="col">Comment</th>
                                <th class="col delete" scope="col"><i class="fas fa-user-edit"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                            <tr>
                                <td>
                                    <a class="green-text-link" href="{% url 'blog_post' comment.blogpost.slug %}">
                                        {{ comment.blogpost.title|truncatewords:3 }} </a>
                                </td>
                                <td>
                                    {{ comment.created_on }}
                                </td>
                                <td>
                                    {{ comment.content|truncatewords:10 }}
                                </td>
                                <td class="item-delete">
                                    <!-- Link to Edit BlogCommentForm -->
                                    <a class="blue-text-link" href="{% url 'edit_comment' comment.id %}">Edit</a> <span
                                        class="d-none d-xl-inline">|</span>
                                    <!-- Delete BlogPostComment Modal Trigger -->
                                    <a class="red-text-link" data-bs-toggle="modal"
                                        data-bs-target="#deleteCommentModal{{ comment.id }}">Delete</a>
                                    <!-- Delete BlogPostComment Modal -->
                                    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1"
                                        aria-labelledby="deleteCommentModal{{ comment.id }}Label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content rounded-0">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-red text-center"
                                                        id="deleteCommentModal{{ comment.id }}Label">
                                                        Are you sure that you want to delete this comment?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    Your views are valued by Dargan's Blog Community Members.
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <a class="common-button btn-blue" data-bs-dismiss="modal">
                                                        <i class="fas fa-undo"></i>&nbsp;Cancel</a>
                                                    <a class="common-button btn-grey"
                                                        href="{% url 'delete_comment' comment.id %}">
                                                        <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have yet to comment on any blog posts.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}