{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="my_account">
                        <strong>My Account</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- My Account Information -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <h1 class="logo-font-heading mb-4">My Account</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <p class="subtitle">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="button-row">
                    <button class="common-button btn-apple-green float-end" type="submit">
                        <i class="fas fa-edit"></i>&nbsp;Update Information
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-9 mx-auto">
            <p class="subtitle">
                Order History
            </p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}