{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid section-container pt-0">
    <!-- Page Title Row -->
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading">
                Thank You
            </h1>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.
            </p>
        </div>
    </div>
    <!-- Order Details -->
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <p class="subtitle">Order Info:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="subtitle">Order Details:</p>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">
                            {{ item.product.friendly_name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <p class="subtitle">Delivering To:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.country }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="subtitle">Billing Info:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">€{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">€{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="heading fw-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="info">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto text-start">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="common-button btn-green-outline my-2">
                <span class="text-uppercase"><i class="fas fa-angle-left"></i>&nbsp;Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}?sort=-date_added" class="common-button btn-forest-green my-2">
                <span class="text-uppercase"><i class="fas fa-gifts"></i>&nbsp;Now check out the latest products!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}