.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* .tab-content>.active {
    border: 1px solid #29873C;
} */

.single-star {
    color: #FFCC00;
}

.tab-content>.active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 1rem 1rem 3rem;
}
