/* Clear browser defaults */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* height: calc(100vh - 186px); */
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    background-color: #FFFFFF;
    /* Keep footer at the bottom of the screen */
    height: 100vh;
    display: flex; 
    flex-direction: column; 
}

/* Colours ------------------------------------------------------------ */
.text-black {
    color: #333333 !important;
}

.text-grey {
    color: #CCCCCC !important;
}

.border-green {
    border: 1px solid #29873C !important;
}

.border-apple-green {
    border: 1px solid #97BE0D;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.bg-apple-green {
    background-color: #97BE0D !important;
}

.bg-forest-green {
    background-color: #29873C !important;
}

.bg-light-green {
    /* background: #eff2f7; */
    background-color: #E4F1E7;
}

/* Special Fonts and Text Styling ------------------------------------- */

.product-details-container h1 {
    font-size: 30px;
    color: #29873C;
    margin: 0 0 30px;
    text-transform: none;
}

.product-details-container p.small a.tag {
    text-decoration: none;
    color: #707070;
}

.product-details-container p.small a.tag:hover,
.product-details-container p.small a.tag:active,
.product-detaisl-container p.small a.tag:focus {
    text-decoration: underline;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: "Cookie", cursive;
}

.section-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-title b {
    flex: 1;
    height: 2px;
    opacity: .5;
    background-color: #29873C;
}

.section-title-center span, 
.section-title-bold-center span {
    text-align: center;
    margin: 0 15px;
    color: #29873C;
}

.logo-font-sub-heading {
    font-family: "Cookie", cursive;
    font-size: 2.5rem;
    color: #29873C;
    margin: 2rem;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: 700;
}

h4.accordion-header {
    color: #29873C;
}

.page-link-with-arrow {
    text-decoration: none;
    color: #29873C;
    font-size: .9em;
    padding-top: 1.5em;
    display: block;
    position: relative;
}

.page-link-with-arrow:hover {
    color: #095518;
}

.link::after {
    content: ">";
    transition: margin-left .25s ease-in-out;
    margin-left: .5em;
    position: absolute;
}

.link:hover::after {
    margin-left: 1em;
}

.footer-box-brand-header {
    font-family: "Cookie", cursive;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1rem;
    color: #29873C;
    margin-top: 0;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.general-sub {
    margin-bottom: 13px;
    text-align: center;
    color: #29873C;
}

hr.divider {
    margin: 2.5rem 0;
}

/* Solution to changing the Bootstrap blue glow around form input boxes found on Stack Overflow: https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow*/
.form-control:focus {
    /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
    border-color: #E0E0E0;
    box-shadow: 0 0 0 0.1rem rgba(224, 224, 224, 0.1);
} 

.page-title {
    margin-bottom: 20px;
}

/* Buttons ------------------------------------------------------------ */
.btn {
    border-radius: 0;
}

.add-to-cart-btn,
.quick-add-to-cart-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.quick-add-to-cart-btn {
    width: 80%;
    height: 35px;
    margin: 10px auto;
}

.add-to-cart-btn {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-cream {
    background-color: #E0D1B1 !important;
    color: #FFFFFF;
}

.btn-apple-green {
    background-color: #97BE0D;
    color: #FFFFFF;
}

.btn-apple-green:hover,
.btn-apple-green:active,
.btn-apple-green:focus {
    background-color: #89AC0C;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-orange {
    background-color: #F9A620;
    color: #FFFFFF;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #EF9606;
    color: #FFFFFF;
    outline: none;
}

.btn-forest-green {
    background-color: #29873C;
    color: white;
}

.btn-outline-forest-green {
    background-color: #FFFFFF;
    color: #29873C !important; /* use important to override link colors for <a> elements */
    border: 1px solid #29873C;
}

.btn-outline-forest-green:hover,
.btn-outline-forest-green:active,
.btn-outline-forest-green:focus {
    background-color: #29873C;
    color: #FFFFFF !important;
}

.btn-forest-green:hover,
.btn-forest-green:active,
.btn-forest-green:focus {
    background: #095518;
    color: white;
}

.btn-checkout {
    display: inline; 
    vertical-align: inherit;
}

.btn-proceed-to-checkout {
    display: inline; 
    vertical-align: inherit;
    display: inline-block;
    border: none;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    transition: all .1s ease;
    letter-spacing: 1px;
}

.btt-btn {
    position: fixed;
    z-index: 1000;
    bottom: 2.5%;
    right: 2.5%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.9);
}

.btt-btn a {
    color: #333333;
    text-decoration: none;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#sort-selector {
    float: right;
    color: #333333;
}

#sort-selector:active,
#sort-selector:focus {
    outline: transparent;
}

/* Containers --------------------------------------------------------- */
.nav-container {
    background-color: #FFFAFA;
    z-index: 1200;
}

.header-container {
    padding-top: 120px;
}

.banner-image-container a img:hover {
    opacity: 0.8;
}

.section-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-title-container {
    margin-bottom: 1.5em;
}

.footer-container {
    /* Keep footer at the bottom of the page */
    margin-top:auto;
}

/* Navbar ------------------------------------------------------------- */
.main-logo-link {
    width: fit-content;
}

.main-logo-link img {
    width: 100%;
    height: auto;
}

#desktop-top-nav {
    background-color: #FFFFFF;
}

#desktop-top-nav ul {
    padding: .625em 0;
    text-align: right;
    font-size: .75em;
    list-style: none;
    margin: 0 auto;
    width: 100%;
}

#desktop-top-nav ul li
{
    display: inline;
    padding: 0 0 0 .625em;
}

#desktop-top-nav ul li a {
    font-family: "Montserrat", sans-serif;
    color: #29873C;
    text-decoration: none;
}

#desktop-top-nav ul li a:hover,
#desktop-top-nav ul li a:focus {
    text-decoration: underline;
}

#main-nav {
    background-color: #29873C;
    color: #FFFFFF !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, .55);
}

.navbar-dark .navbar-toggler {
    color: #FFFFFF;
    border: 0px;
}

.navbar-dark .navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem;
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-menu .dropdown-item {
    color: #29873C;
    padding: .25rem 1.5rem .25rem .5rem;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    background-color: #FFFFFF;
}

/* Delivery Banner ---------------------------------------------------- */
#delivery-banner h4 {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 500;
}

/* Product and Blog-Post Cards ---------------------------------------- */

.card {
    margin-bottom: 26px;
    border-radius: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 0;
}

.card .card-img-top {
    border-radius: 0;
}

/* Solution to making card images the same height found on Stack Overflow: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width*/
.card .product-link .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    padding: 5px;
}

a.product-link img.card-img-top:hover, 
a.blog-post-link img.card-img-top:hover {
    opacity: 0.8;
}

a.product-link, 
a.blog-post-link {
    text-decoration: none;
    color: #333333;
}

a.product-link h5.card-title {
    height: 76px;
    font-size: 1rem;
}

a.product-link h5:hover, 
a.blog-post-link h5:hover {
    font-weight: 600;
}

p.card-text.brand-name {
    font-size: .75em;
    text-transform: capitalize;
}

/* Accordions in Footer and on Product Details Page ------------------- */
.accordion-item {
    border-top: 1px solid #EEEEEE;
    margin-left: -10px;
    margin-right: -10px;
}

.accordion-list li a {
    padding: .5rem .5rem;
    color: #333333;
    text-decoration: none;
}

.accordion-button {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: 600;
    border: none;
    padding: 1rem;
}

.accordion-button:focus {
    box-shadow: none;
}

/*Solution to changing the Bootstrap Accordion button icon colour found on Stack Overflow: https://stackoverflow.com/questions/66231936/change-accordion-button-collapsed-icon-color-in-bootstrap-5*/
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2329873C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.individual-product-container .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23707070'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2329873C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.individual-product-container .accordion-button:not(.collapsed),
.footer-container .accordion-button:not(.collapsed) {
    color: #29873C;
    background-color: #FFFFFF;
}

.individual-product-container .accordion-button {
    color: #707070;
}

.footer-container .accordion-button {
    color: #29873C;
}

/* Product Details Page ----------------------------------------------- */
.product-details-image {
    width: 100%;
    height: 50vh;
    object-fit: contain;
    padding: 5px;
}

.product-details-container form input.qty-input {
    text-align: center;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: "Font Awesome 5 Free";
}

.stars-outer::before {
    content: "\F005 \F005 \F005 \F005 \F005";
    font-weight: 100;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
}

.stars-inner::before {
    content: "\F005 \F005 \F005 \F005 \F005";
    color: #FFCC00;
}

/* Footer ------------------------------------------------------------- */
footer {
    min-height: 120px;
} 

.footer-area-top {
    margin: 0;
}

.footer-box a {
    width: 100%;
    display: block;
}

.footer-box-list-contact-details li {
    padding-left: 35px;
    font-size: 16px;
    position: relative;
}

.footer-box-list-contact-details li::before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: inherit;
    color: #29873C;
    width: 27px;
    height: 27px;
    top: 0px;
    left: 15px;
}

.footer-box-list-contact-details li.address::before {
    content: "\F3C5";
}

.footer-box-list-contact-details li.phone::before {
    content: "\F095";
}

.footer-box-list-contact-details li.email::before {
    content: '\F0E0';
} 

.footer-box-quick-links-list li a:link,
.footer-box-quick-links-list li a:visited, 
.footer-box-list-contact-details li a:link,
.footer-box-list-contact-details li a:visited {
    text-decoration: none;
    color: #333333;
}

.footer-box-list-contact-details li a:hover, 
.footer-box-list-contact-details li a:active,
.footer-box-quick-links-list li a:hover,
.footer-box-quick-links-list li a:active {
    text-decoration: underline;
    color: #29873C;
}

.social-row {
    text-align: center;
    padding-top: 10px;
}

.social-row li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 0 40px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    color: #FFFFFF;
    background: #97BE0D ;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-row li a i:hover {
    background-color: #FFFFFF;
    color: #97BE0D;
}

.copyright-row {
    font-size: small;
    text-align: center;
    color: #FFFFFF;
}

.copyright-row a:link, 
.copyright-row a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.banner-image-container a img {
    opacity: 1;
    width: 100%;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Breadcrumbs Navigation --------------------------------------------*/
.breadcrumbs .items {
    color: #707070;
    margin: 0;
    padding: 0;
    list-style: none none;
}

.breadcrumbs .items>li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs .item:not(:last-child) {
    display: inline-block;
    text-decoration: none;
}

.breadcrumbs .item:not(:last-child):after {
    content: ">";
    margin: 0 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
}

.breadcrumbs a {
    color: #707070;
    text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs strong {
    font-weight: 400;
}

/* Solution to anchor element jump being behind the navbar found on Stack Overflow: https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

/* Pagination Buttons ------------------------------------------------*/
.page-item.active .page-link {
    background-color: #29873C;
    border-color: #29873C;
}

.page-link {
    color: #29873C;
    border: none;
}

.page-link:hover,
.page-link:active,
.page-link:focus {
    color: #29873C;
    box-shadow: none;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0;
}

/* Shopping Cart ------------------------------------------------------*/
.update-cart-btn,
.continue-shopping-btn {
    border-radius: 0;
    background: #EEEEEE;
    border: none;
    color: #333333;
    margin: 0;
    padding: 7px 15px;
    letter-spacing: 1px;
}

.continue-shopping-btn::before {
    color: inherit;
    content: '<';
}

.update-cart-btn::before {
    content: "\F021";
    font-family: "FontAwesome";
}

.update-cart-btn:hover,
.update-cart-btn:active,
.update-cart-btn:focus,
.continue-shopping-btn:hover,
.continue-shopping-btn:active,
.continue-shopping-btn:focus {
    background-color: #707070;
    color: #FFFFFF;
    box-shadow: none;
}

.cart-wrapper table.cart-items tbody tr {
   border-bottom: 1px solid rgba(204,191,183,0.75);
}

.item-info>a.product-link:hover {
    text-decoration: underline;
}

.item-img {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    height: auto;
}

.product-image-photo {
    display: block;
    height: auto;
    margin: auto;
    max-width: 50px;
    position: static;
}

.item-qty button>i:hover {
    color: #333333;
}

.item-remove button {
    text-decoration: none;
    color: inherit;
    padding: 0;
}

.item-remove button i:hover,
.item-remove button i:focus,
.item-remove button i:active {
    font-weight: 700 !important;
}

.cart-summary {
    background-color: #FFF0C5;
    padding: 20px 20px;
}

.cart-summary .lighter-heading {
    font-weight: 300;
}

.cart-totals,
.grand {
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
}

.amount {
    font-weight: 400;
    padding: 6px 0 6px 14px;
    text-align: right;
    white-space: nowrap;
}
/* Media Queries ------------------------------------------------------*/

/* Desktop */
@media screen and (min-width: 992px) {
    #minicart {
        float: right;
        width: 80%;
        display: block;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 0rem .375rem 0rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #C8C8C8;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
    }

    #minicart ul li {
        margin: 0 0 0 .625em;
        float: right;
    }

    #minicart ul li a {
        text-decoration: none;
    }

    #minicart ul li.cart-info a:focus,
    #minicart ul li.cart-info a:hover {
        text-decoration: underline;
    }

    /* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        /* padding-top: 186px; */
        padding-top: 250px;
    }

    .banner-image-container {
        width: 70%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    h5.card-title {
        font-size: 1.25rem;
    }

    a.anchor {
        top: -250px;
    }

    form.subscribe .form-group .input-group {
        width: 50%;
        margin: auto;
    }

    .page-title-wrapper .page-title {
        display: inline-block;
    }
}

/* Small Laptop Screens */
@media (min-width: 991px) and (max-width: 1100px) {
    #minicart span.hide-for-small-laptop {
        display: none;
    }
}

/* Mobile and Tablet Screens */
@media (max-width: 991px) {
    .nav-link {
        padding: 0.15rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    #main-nav .navbar-nav .nav-item {
        padding: .625em 5%;
    }

    #main-nav .navbar-nav .nav-item.dropdown>a::after {
        content:"\F0D7";
        font-family: "FontAwesome";
        position: absolute;
        right:0;        
    }
}