html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.heading-font {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-link img {
    width: 100%;
    height: auto;
}

#desktop-top-nav {
    background-color: #FFFFFF;
}

#desktop-top-nav ul {
    padding: .625em 0;
    text-align: right;
    font-size: .75em;
    list-style: none;
    margin: 0 auto;
    width: 100%;
}

#desktop-top-nav ul li
{
    display: inline;
    padding: 0 0 0 .625em;
}

#desktop-top-nav ul li a {
    font-family: "Montserrat", sans-serif;
    color: #29873C;
}

#main-nav {
    background-color: #29873C;
}

.navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border: 0px;
}

.dropdown-menu .dropdown-item {
    color: #29873C;
}

.shop-now-button {
    background: #29873C;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-apple-green {
    background: #97BE0D !important;
}

.bg-forest-green {
    background: #29873c !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    #delivery-banner h4 {
        font-size: .9rem;
}
}