{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <!-- Replace the filename value with a small preview image -->
        <img src="{{ widget.value.url }}" class="product-image-photo mx-0" alt="Current Image">
    </a>
    {% if not widget.required %}
        <!-- Wrap the checkbox in a div with Bootstrap classes -->
        <div class="custom-control custom-checkbox mt-2">
            <input class="delete-checkbox" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}<br>
    {{ widget.input_text }}
{% endif %}
<!-- Wrap the actual file input in a span which looks like a button -->
<span class="btn btn-grey-outline rounded-0 btn-file">
    <i class="fas fa-image"></i>&nbsp;Select Main Image 
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<!-- Add a paragraph below to hold the file name once one is selected -->
<p class="text-danger fw-bold" id="filename"></p>
