<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-new-in-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-new-in-link">
                <a href="" class="dropdown-item">Vitamins &amp; Supplements</a>
                <a href="" class="dropdown-item">Food &amp; Drink</a>
                <a href="" class="dropdown-item">Hair &amp; Beauty</a>
                <a href="" class="dropdown-item">Mother &amp; Baby</a>
                <a href="" class="dropdown-item">House &amp; Home</a>
                <a href="" class="dropdown-item">All New In</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="vitamins-and-supplements-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins &amp; Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vitamins-and-supplements-link">
                <a href="" class="dropdown-item">Digestive Health</a>
                <a href="" class="dropdown-item">Herbal &amp; Homeopathic Remedies</a>
                <a href="" class="dropdown-item">Immune Health</a>
                <a href="" class="dropdown-item">Minerals</a>
                <a href="" class="dropdown-item">Supplements</a>
                <a href="" class="dropdown-item">Vitamins</a>
                <a href="" class="dropdown-item">Weight Management</a>
                <a href="" class="dropdown-item">Vitamins &amp; Supplements</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-and-drink-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food &amp; Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-and-drink-link">
                <a href="" class="dropdown-item">Baking &amp; Cooking</a>
                <a href="" class="dropdown-item">Bread, Cereal &amp; Snacks</a>
                <a href="" class="dropdown-item">Chilled &amp; Frozen</a>
                <a href="" class="dropdown-item">Coffee &amp; Hot Chocolate</a>
                <a href="" class="dropdown-item">Grains &amp; Pulses</a>
                <a href="" class="dropdown-item">Herbal Teas</a>
                <a href="" class="dropdown-item">Juices &amp; Milks</a>
                <a href="" class="dropdown-item">Nuts, Seeds &amp; Dried Fruit</a>
                <a href="" class="dropdown-item">Oils &amp; Vinegars</a>
                <a href="" class="dropdown-item">Pasta, Rice &amp; Noodles</a>
                <a href="" class="dropdown-item">Spreads, Sweetners &amp; Syrups</a>
                <a href="" class="dropdown-item">Superfoods &amp; Powders</a>
                <a href="" class="dropdown-item">All Food &amp; Drink</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hair-and-beauty-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair &amp; Beauty
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-and-beauty-link">
                <a href="" class="dropdown-item">Bath &amp; Shower</a>
                <a href="" class="dropdown-item">Body Care</a>
                <a href="" class="dropdown-item">Cosmetics</a>
                <a href="" class="dropdown-item">Hair &amp; Beauty Supplements</a>
                <a href="" class="dropdown-item">Hair Care</a>
                <a href="" class="dropdown-item">Skincare</a>
                <a href="" class="dropdown-item">All Hair &amp; Beauty</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mother-and-baby-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mother &amp; Baby
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mother-and-baby-link">
                <a href="" class="dropdown-item">Baby Food</a>
                <a href="" class="dropdown-item">Children's Health</a>
                <a href="" class="dropdown-item">Pregnancy Support</a>
                <a href="" class="dropdown-item">Skincare for Mum &amp; Baby</a>
                <a href="" class="dropdown-item">All Mother &amp; Baby</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="house-and-home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House &amp; Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="house-and-home-link">
                <a href="" class="dropdown-item">Aromatherapy &amp; Accessories</a>
                <a href="" class="dropdown-item">Candles &amp; Incense</a>
                <a href="" class="dropdown-item">Cleaning Products</a>
                <a href="" class="dropdown-item">Eco Household Products</a>
                <a href="" class="dropdown-item">All House &amp; Home</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="special-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="" class="dropdown-item">New In</a>
                <a href="" class="dropdown-item">Vitamins &amp; Supplements</a>
                <a href="" class="dropdown-item">Food &amp; Drink</a>
                <a href="" class="dropdown-item">Hair &amp; Beauty</a>
                <a href="" class="dropdown-item">Mother &amp; Baby</a>
                <a href="" class="dropdown-item">House &amp; Home</a>
                <a href="" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
    </ul>
</div>