{% load custom_tags %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="{% url 'home' %}" id="home-link" title="Go to Home Page" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-new-in-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-new-in-link">
                <a href="{% url 'products' %}?department=vitamins_n_supplements" class="dropdown-item">Vitamins &amp; Supplements</a>
                <a href="{% url 'products' %}?department=food_n_drink" class="dropdown-item">Food &amp; Drink</a>
                <a href="{% url 'products' %}?department=hair_n_beauty" class="dropdown-item">Hair &amp; Beauty</a>
                <a href="{% url 'products' %}?department=mother_n_baby" class="dropdown-item">Mother &amp; Baby</a>
                <a href="{% url 'products' %}?department=house_n_home" class="dropdown-item">House &amp; Home</a>
                <a href="{% url 'products' %}" class="dropdown-item">All New In</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="vitamins-and-supplements-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins &amp; Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vitamins-and-supplements-link">
                <a href="{% url 'products' %}?category=digestive_health" class="dropdown-item">Digestive Health</a>
                <a href="{% url 'products' %}?category=herbal_n_homeopathic_remedies" class="dropdown-item">Herbal &amp; Homeopathic Remedies</a>
                <a href="{% url 'products' %}?category=immune_health" class="dropdown-item">Immune Health</a>
                <a href="{% url 'products' %}?category=minerals" class="dropdown-item">Minerals</a>
                <a href="{% url 'products' %}?category=supplements" class="dropdown-item">Supplements</a>
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=weight_management" class="dropdown-item">Weight Management</a>
                <a href="{% url 'products' %}?department=vitamins_n_supplements" class="dropdown-item">All Vitamins &amp; Supplements</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="food-and-drink-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food &amp; Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-and-drink-link">
                <a href="{% url 'products' %}?category=baking_n_cooking" class="dropdown-item">Baking &amp; Cooking</a>
                <a href="{% url 'products' %}?category=bread_cereal_n_snacks" class="dropdown-item">Bread, Cereal &amp; Snacks</a>
                <a href="{% url 'products' %}?category=chilled_n_frozen" class="dropdown-item">Chilled &amp; Frozen</a>
                <a href="{% url 'products' %}?category=coffee_n_hot_chocolate" class="dropdown-item">Coffee &amp; Hot Chocolate</a>
                <a href="{% url 'products' %}?category=grains_n_pulses" class="dropdown-item">Grains &amp; Pulses</a>
                <a href="{% url 'products' %}?category=herbal_teas" class="dropdown-item">Herbal Teas</a>
                <a href="{% url 'products' %}?category=juices_n_milks" class="dropdown-item">Juices &amp; Milks</a>
                <a href="{% url 'products' %}?category=nuts_seeds_n_dried_fruit" class="dropdown-item">Nuts, Seeds &amp; Dried Fruit</a>
                <a href="{% url 'products' %}?category=oils_n_vinegars" class="dropdown-item">Oils &amp; Vinegars</a>
                <a href="{% url 'products' %}?category=pasta_rice_n_noodles" class="dropdown-item">Pasta, Rice &amp; Noodles</a>
                <a href="{% url 'products' %}?category=spreads_sweetners_n_syrups" class="dropdown-item">Spreads, Sweetners &amp; Syrups</a>
                <a href="{% url 'products' %}?category=superfoods_n_powders" class="dropdown-item">Superfoods &amp; Powders</a>
                <a href="{% url 'products' %}?department=food_n_drink" class="dropdown-item">All Food &amp; Drink</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="hair-and-beauty-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair &amp; Beauty
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-and-beauty-link">
                <a href="{% url 'products' %}?category=bath_n_shower" class="dropdown-item">Bath &amp; Shower</a>
                <a href="{% url 'products' %}?category=body_care" class="dropdown-item">Body Care</a>
                <a href="{% url 'products' %}?category=cosmetics" class="dropdown-item">Cosmetics</a>
                <a href="{% url 'products' %}?category=hair_n_beauty_supplements" class="dropdown-item">Hair &amp; Beauty Supplements</a>
                <a href="{% url 'products' %}?category=hair_care" class="dropdown-item">Hair Care</a>
                <a href="{% url 'products' %}?category=skincare" class="dropdown-item">Skincare</a>
                <a href="{% url 'products' %}?department=hair_n_beauty" class="dropdown-item">All Hair &amp; Beauty</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="mother-and-baby-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mother &amp; Baby
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mother-and-baby-link">
                <a href="{% url 'products' %}?category=baby_food" class="dropdown-item">Baby Food</a>
                <a href="{% url 'products' %}?category=childrens_health" class="dropdown-item">Children's Health</a>
                <a href="{% url 'products' %}?category=pregnancy_support" class="dropdown-item">Pregnancy Support</a>
                <a href="{% url 'products' %}?category=skincare_for_mum_n_baby" class="dropdown-item">Skincare for Mum &amp; Baby</a>
                <a href="{% url 'products' %}?department=mother_n_baby" class="dropdown-item">All Mother &amp; Baby</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="house-and-home-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House &amp; Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="house-and-home-link">
                <a href="{% url 'products' %}?category=aromatherapy_n_accessories" class="dropdown-item">Aromatherapy &amp; Accessories</a>
                <a href="{% url 'products' %}?category=candles_n_incense" class="dropdown-item">Candles &amp; Incense</a>
                <a href="{% url 'products' %}?category=cleaning_products" class="dropdown-item">Cleaning Products</a>
                <a href="{% url 'products' %}?category=eco_household_products" class="dropdown-item">Eco Household Products</a>
                <a href="{% url 'products' %}?department=house_n_home" class="dropdown-item">All House &amp; Home</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="special-offers-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-offers-link">
                <a href="{% url 'products' %}?department=vitamins_n_supplements" class="dropdown-item">Vitamins &amp; Supplements</a>
                <a href="{% url 'products' %}?department=food_n_drink" class="dropdown-item">Food &amp; Drink</a>
                <a href="{% url 'products' %}?department=hair_n_beauty" class="dropdown-item">Hair &amp; Beauty</a>
                <a href="{% url 'products' %}?department=mother_n_baby" class="dropdown-item">Mother &amp; Baby</a>
                <a href="{% url 'products' %}?department=house_n_home" class="dropdown-item">House &amp; Home</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="#" id="blog-link" aria-label="Blog link">
                Blog
            </a>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="{% url 'our_story' %}" id="our-story-link" aria-label="Our Story link">
                Our Story
            </a>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="#" id="contact-us-link" aria-label="Contact Us link">
                Contact Us
            </a>
        </li>
    </ul>
</div>