<!-- Button to open the My Account Dropdown Menu -->
<li class="list-inline-item dropdown">
    <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="Product Management link">Product
            Management</a>
        <a href="{% url 'add_post' %}" class="dropdown-item" aria-label="Blog Management link">Blog Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item" aria-label="My Account link">My Account</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="Logout link">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="Registration link">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="Login link">Login</a>
        {% endif %}
    </div>
</li>
<!-- Button to open the Search Bar -->
<li class="list-inline-item">
    <a class="text-white nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control rounded-0" type="text" name="q" placeholder="Search for products and brands">
                <div class="input-group-append">
                    <button class="form-control common-button btn-forest-green border-green" type="submit">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<!-- Button to access the Shopping Cart -->
<li class="list-inline-item">
    <a class="text-white {% if grand_total %}font-weight-bold{% else %}font-weight-normal{% endif %} nav-link d-block d-lg-none" href="{% url 'view_cart' %}">
        <div class="text-center">
            <div class="lbl-cart-wrapper">               
                <i class="fas fa-shopping-cart fa-lg"></i>
                {% if product_count > 0 %}
                <span>{{ product_count }}</span>
                {% endif %}
            </div>
            <p class="my-0">
            {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
            {% else %}
                €0.00
            {% endif %}
            </p>
        </div>
    </a>
</li>
