{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Add BlogPost Comment Container -->
<div class="container-fluid section-container pt-0">
    <!-- Add BlogPost Comment Page Title Row -->
    <div class="row page-title-wapper">
        <div class="col-12 col-lg-9 mx-auto">
            <h3 class="page-title text-muted" id="page-title-heading" aria-labelledby="page-title-heading">
                You are commenting on blog post: 
                <p class="my-1 text-green text-center">{{ blogpost.title }}</p>
            </h3>
        </div>
    </div>
    <!-- Add BlogPost Comment Form Row -->
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            {% if request.user.is_authenticated %}
                <form class="form blogpost-comment-form" action="" method="POST">
                    {% csrf_token %}
                    {{ bpcform|crispy }}
                    <div class="button-row">
                        <a class="common-button btn-green-outline" href="{% url 'blog_post' blogpost.slug %}" aria-label="Return to Blog Post link">
                            Return to Blog Post
                        </a>
                        <button class="common-button btn-orange" action="submit" aria-label="Post Comment Button">
                            <i class="fas fa-cloud-upload-alt"></i> Upload Comment
                        </button>
                    </div>
                </form>
            {% else %}
                <p class="text=center">Only Dargan Health Food members can comment on blog posts.  <a class="green-text-link" href="{% url 'account_signup' %}">Register here.</a></p>
                <p class="text=center">Already a member? Please <a class="green-text-link" href="{% url 'account_login' %}">sign in</a> in order to share your thoughts.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
