{% extends "base.html" %}
{% load static %}

{% block title %}Dargan's Blog{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container pb-3">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="item blog">
                        <a href="{% url 'blog' %}" title="Go to Blog Page">
                            Blog
                        </a>
                    </li>
                    <li class="item blog_post">
                        <strong>{{ blogpost.title }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid blogpost-details-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <h1>{{ blogpost.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-end">
            {% if request.user.is_superuser %}
            <p class="text-end">
                <small class="text-end">
                    <a class="blue-text-link" href="{% url 'edit_post' blogpost.id %}">Edit</a> |
                    <!-- Delete Product Modal Trigger -->
                    <a class="red-text-link" data-bs-toggle="modal" data-bs-target="#deleteBlogPostModal">Delete</a>
                </small>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                <div class="col-12">
                    <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                    <div class="card text-center">
                        {% if blogpost.main_image %}
                        <img src="{{ MEDIA_URL }}{{ blogpost.main_image }}" class="card-img-top"
                            alt="{{ blogpost.title }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}/product_images/no-image-placeholder.svg" class="card-img-top"
                            alt="{{ blogpost.title }}">
                        {% endif %}
                        <div class="card-body text-start">
                            <p>By {{ blogpost.author }} | {{ blogpost.created_on }} | {{ blogpost.topic.friendly_name }}
                            </p>
                            <h4 class="mb-3 text-center">{{ blogpost.subtitle }}</h4>
                            <p>{{ blogpost.intro }}</p>
                            {{ blogpost.content|safe|linebreaks }}
                            {% if tags %}
                            <p class="small">
                                <i class="fas fa-tag mr-1"></i>
                                {% for tag in tags %}
                                <a class="tag" href="{% url 'products' %}?tag={{ tag.tag.name }}">
                                    {{ tag.tag.friendly_name }}&nbsp;
                                </a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                <div class="col-12 text-center">
                    <a class="common-button btn-green-outline" href="{% url 'blog' %}" title="Return to Blog">
                        Return To Blog
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete BlogPost Modal -->
<div class="modal fade" id="deleteBlogPostModal" tabindex="-1" aria-labelledby="deleteBlogPostModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="deleteBlogPostModalLabel">{{ blogpost.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Are you sure that you want to delete this blog post?
            </div>
            <div class="modal-footer justify-content-center">
                <a class="common-button btn-blue" data-bs-dismiss="modal"><i class="fas fa-undo"></i>&nbsp;Cancel</a>
                <a class="common-button btn-grey" href="{% url 'delete_post' blogpost.pk %}">
                    <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}