{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block extra_title %}Dargan's Blog{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container pb-3">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="item blog">
                        <a href="{% url 'blog' %}" title="Go to Blog Page">
                            Blog
                        </a>
                    </li>
                    <li class="item topic">
                        <a href="{% url 'blog' %}?topic={{ blogpost.topic }}" title="Go to related Blog Topic Page">
                            {{ blogpost.topic|title|to_ampersand }}
                        </a>
                    </li>
                    <li class="item blog_post">
                        <strong>{{ blogpost.title }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid blogpost-details-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <h1>{{ blogpost.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-end">
            {% if request.user.is_superuser %}
            <p class="text-end fs-6">
                <a class="blue-text-link" href="{% url 'edit_post' blogpost.id %}">Edit</a> |
                <!-- Delete BlogPost Modal Trigger -->
                <a class="red-text-link" data-bs-toggle="modal" data-bs-target="#deleteBlogPostModal">Delete</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                <div class="col-12 col-lg-9 mx-auto">
                    <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                    <div class="card">
                        {% if blogpost.main_image %}
                        <img src="{{ MEDIA_URL }}{{ blogpost.main_image }}" class="card-img-top blog-photo"
                            alt="{{ blogpost.title }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image-placeholder.svg"
                            class="card-img-top blog-photo" alt="{{ blogpost.title }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p>By {{ blogpost.author }} | {{ blogpost.created_on }} |
                                        {{ blogpost.topic.friendly_name }}
                                    </p>
                                    <h4 class="mb-3 text-center text-green">{{ blogpost.subtitle }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                {% if tags %}
                                <div class="col-12 col-md-6">
                                    <p class="fs-6">
                                        <i class="fas fa-tag mr-1"></i>
                                        {% for tag in tags %}
                                        <a class="tag" href="{% url 'blog' %}?tag={{ tag.tag.name }}">
                                            {{ tag.tag.friendly_name }}
                                        </a>&nbsp;
                                        {% endfor %}
                                    </p>
                                </div>
                                {% endif %}
                                {% if comments %}
                                <div class="col-12 col-md-6">
                                    <p class="fs-6 text-end">
                                        <i class="fas fa-comment-alt"></i>&nbsp;
                                        <a href="{% url 'blog_post' blogpost.slug %}#collapseComments" class="tag"
                                            id="open-comments">
                                            {{ comments|length }}
                                        </a>
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {{ blogpost.intro|safe|linebreaks }}
                                    {{ blogpost.content|safe|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                <div class="col-12 text-center">
                    <a class="common-button btn-green-outline" href="{% url 'blog' %}" title="Return to Blog" aria-label="Return to Blog Link">
                        Return To Blog
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Post Accordion Row -->
<div class="container-fluid blogpost-comments-accordion-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                <div class="col-12 col-lg-9 mx-auto">
                    <div class="accordion accordion-flush">
                        <!-- Comments Accordion -->
                        <div class="accordion-item" id="accordionComments">
                            <h4 class="accordion-comments-header" id="headingComments">
                                <button class="accordion-button collapsed" 
                                    type="button" 
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseComments" aria-expanded="false"
                                    aria-controls="collapseComments">
                                    Comments
                                </button>
                            </h4>
                        </div>
                        <div class="accordion-body collapse" id="collapseComments" aria-labelledby="headingComments">
                            {% if request.user.is_authenticated %}
                            <!-- Open BlogPostComment Form button -->
                            <div class="my-3 text-end">
                                <a class="common-button btn-forest-green" 
                                    href="{% url 'add_comment' blogpost.id %}"
                                    aria-label="Leave a Comment">
                                    <i class="fas fa-user-edit"></i>&nbsp;Leave a Comment
                                </a>
                            </div>
                            {% else %}
                                <p class="fs-6 text-end text-muted">
                                    Have a comment? Please
                                    <a class="blue-text-link" href="{% url 'account_login' %}" aria-label="Sign In Link">login</a>
                                    or
                                    <a class="blue-text-link" href="{% url 'account_signup' %}" aria-label="Register Link">register</a>
                                    to share your views on this topic.
                                </p>
                            {% endif %}
                            {% if comments %}
                            {% for comment in comments %}
                            <div class="my-1">
                                <small class="text-muted">{{ comment.user }} on {{ comment.created_on }}</small>
                                {% if request.user.is_authenticated %}
                                {% if user.id == comment.user.id %}
                                <small>
                                    <a class="blue-text-link" 
                                        href="{% url 'edit_comment' comment.pk %}">Edit</a> |
                                    <!-- Delete Comment Modal Trigger -->
                                    <a class="red-text-link" 
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteCommentModal{{ comment.pk }}">Delete</a>
                                </small>
                                <!-- Delete Comment Modal -->
                                <div class="modal fade" id="deleteCommentModal{{ comment.pk }}" tabindex="-1"
                                    aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content rounded-0">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-red text-center"
                                                    id="deleteCommentModalLabel">
                                                    Are you sure that you want to delete this comment?</h5>
                                                <button type="button" 
                                                    class="btn-close" 
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                Your comments are valued.
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <a class="common-button btn-blue" 
                                                    data-bs-dismiss="modal">
                                                    <i class="fas fa-undo"></i>&nbsp;Cancel</a>
                                                <a class="common-button btn-grey"
                                                    href="{% url 'delete_comment' comment.pk %}">
                                                    <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="pt-2">
                                {{ comment.content|linebreaks }}
                            </div>
                            <hr>
                            {% endfor %}
                            {% else %}
                            <div>
                                <p>Be the first to comment on this post.</p>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Search Accordion -->
                        <div class="accordion-item" id="accordionSearchBlog">
                            <h4 class="accordion-search-blog-header" id="headingSearchBlog">
                                <button class="accordion-button collapsed" 
                                    type="button" 
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSearchBlog" 
                                    aria-expanded="false"
                                    aria-controls="collapseSearchBlog">
                                    Search Blog
                                </button>
                            </h4>
                        </div>
                        <div class="accordion-body collapse" id="collapseSearchBlog"
                            aria-labelledby="headingSearchBlog">
                            <form method="GET" action="{% url 'blog' %}">
                                <div class="input-group">
                                    <input class="form-control rounded-0" type="text" name="bq"
                                        placeholder="Search blog by keyword(s)">
                                    <div class="input-group-append">
                                        <button class="form-control common-button btn-apple-green" 
                                            type="submit"
                                            id="searchBlogButton"
                                            aria-label="Search Blog Button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete BlogPost Modal -->
<div class="modal fade" id="deleteBlogPostModal" tabindex="-1" aria-labelledby="deleteBlogPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title text-red text-center" id="deleteBlogPostModalLabel">
                    {{ blogpost.title }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Are you sure that you want to delete this blog post?
            </div>
            <div class="modal-footer justify-content-center">
                <a class="common-button btn-blue" data-bs-dismiss="modal">
                    <i class="fas fa-undo"></i>&nbsp;Cancel</a>
                <a class="common-button btn-grey" href="{% url 'delete_post' blogpost.pk %}">
                    <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Reveal Comments Accordion when Total Comments Count clicked
    $(document).ready(function () {
        $("#open-comments").click(function () {
            let accordion_body = $("#collapseComments");
            let accordion_button = $("#headingComments").children("button");
            // Check that the accordion body has not already been opened
            if (accordion_body.hasClass("collapse") && accordion_body.is(":not(.show)")) {
                // Toggle the 'collapse' class to reveal the Comments Accordion Body Content
                accordion_body.toggleClass("collapse");
                // Toggle the 'collapsed' class so that the accordion button styling mimics that of a clicked accordion button
                accordion_button.toggleClass("collapsed");
                // Programmatically simulate clicking the button so that the accordion now closes when the user clicks on it to close it
                accordion_button.click();
            }
        });
    });
</script>
{% endblock %}