{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block title %}Dargan's Blog{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Blog Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container pb-3">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <!-- Home Breadcrumb -->
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    {% if current_blog_topic or current_blog_tag or blog_search_term %}
                    <!-- All Blog Posts Breadcrumb -->
                    <li class="item blog">
                        <a href="{% url 'blog' %}" title="Go to Blog Plage">
                            Blog
                        </a>
                    </li>
                        <!-- Blog Topic Breadcrumb -->
                        {% if current_blog_topic %}
                        <li class="item topic">
                            <strong>
                                {{ current_blog_topic|first|title|to_ampersand }}
                            </strong>
                        </li>
                        <!-- Blog Tag Breadcrumb-->
                        {% elif current_blog_tag %}
                        <li class="item tag">
                            <strong>{{ current_blog_tag|first|title|to_ampersand }}</strong>
                        </li>
                        <!-- Blog Search Term Breadcrumb -->
                        {% elif blog_search_term %}
                        <li class="item search_term">
                            <strong>Search Results For: "{{ blog_search_term|truncatechars:25 }}"</strong>
                        </li>
                        {% else %}
                        {% endif %}
                    {% else %}
                    <li class="item blog">
                        <strong>Blog</strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Blog Intro Text -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto text-center">
            <h2 class="logo-font-heading">
                Dargan's Blog
            </h2>
            <p>
                Interested in health and nutrition?
                Keep an eye on our blog articles below for news, reviews, tips, and
                more!
            </p>
            <hr class="divider">
        </div>
    </div>
    {% if page_obj.paginator.count > 0 %}
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                <!-- Result Counter -->
                <div class="col-6">
                    <p class="text-muted">
                        Post{{ page_obj.paginator.count|pluralize }} {{ page_obj.start_index }} -
                        {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
                    </p>
                </div>
                <!-- Filter by Topic Dropdown -->
                <div class="col-6 dropdown show text-end">
                    <a class="btn filter-btn rounded-0" href="#" role="button" id="dropdownTopicFilter"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by Topic...&nbsp;<i class="fa-xs fas fa-chevron-down pl-2"></i>
                    </a>
                    <div class="dropdown-menu rounded-0" aria-labelledby="dropdownTopicFilter">
                        <a class="dropdown-item" href="{% url 'blog' %}">All</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=beauty">Beauty</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=eco_living">Eco Living</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=food_n_nutrition">Food &
                            Nutrition</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=health_n_wellbeing">Health &
                            Wellbeing</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=lifestyle">Lifestyle</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=news">News</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=recipes">Recipes</a>
                        <a class="dropdown-item" href="{% url 'blog' %}?topic=uncategorised">Uncategorised</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="container-fluid blogposts-list-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                {% for blogpost in blogs_list %}
                <div class="col-12 col-md-6">
                    <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                    <div class="card text-center">
                        <a href="{% url 'blog_post' blogpost.slug %}" class="blog-post-link">
                            {% if blogpost.main_image %}
                            <img src="{{ MEDIA_URL }}{{ blogpost.main_image }}" class="card-img-top"
                                alt="{{ blogpost.title }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}/product_images/no-image-placeholder.svg" class="card-img-top"
                                alt="{{ blogpost.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <p class="card-text text-start">{{ blogpost.topic.friendly_name }} |
                                {{ blogpost.created_on }}</p>
                            <a href="{% url 'blog_post' blogpost.slug %}" class="blog-post-link">
                                <h5 class="card-title">{{ blogpost.title }}</h5>
                            </a>
                            <p class="card-text text-start">{{ blogpost.intro|truncatewords:60 }}</p>
                            <a class="page-link-with-arrow" href="{% url 'blog_post' blogpost.slug %}"
                                title="Link to full blog post {{ blogpost.title }}">
                                <span class="link">
                                    Read Post
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Pagination Navigation taken from Bootstrap: https://getbootstrap.com/docs/4.0/components/pagination/ and then modified -->
            {% include '../products/includes/pagination.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btt-btn">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-chevron-up mx-auto my-auto"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<!-- Append to block, don't overwrite -->
{{ block.super }}
<!-- Scroll-To-Top Button Functionality copied from Code Institute Boutique Ado walkthrough project: https://github.com/nualagr/boutique-ado-v1 -->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}