{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <!-- Page Title -->
    <h1 class="logo-font-heading" id="page-title-heading" aria-labelledby="page-title-heading">
        {% trans "Set Password" %}
    </h1>
    <!-- Set Password Form -->
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="button-row">
            <input class="common-button btn-apple-green" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </div>
    </form>
{% endblock %}
