{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <!-- Page Title -->
        <h1 class="logo-font-heading" id="page-title-heading" aria-labelledby="page-title-heading">
            {% trans "Change Password" %}
        </h1>
    <!-- Change Password Form -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="button-row">
            <a class="common-button btn-green-outline" href="{% url 'account_login' %}" aria-label="To Login Page Link">
                To Login Page
            </a>
            <button class="common-button btn-apple-green" type="submit" name="action" aria-label="Change Password Button">
                {% trans "Change Password" %}
            </button>
            {% if request.user.is_authenticated %}
                <a class="common-button btn-orange-outline" href="{% url 'profile' %}" aria-label="My Account link">
                    My Account
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}
