{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <!-- Page Title -->
    <h1 class="logo-font-heading" id="page-title-heading" aria-labelledby="page-title-heading">
        {% trans "Sign Up" %}
    </h1>
    <h5 class="text-center text-green pt-2">Become an Dargan's member and get 10% off your next purchase!</h5>
    <!-- Page Subheading -->
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="blue-text-link">sign in</a>.{% endblocktrans %}</p>
    <!-- Sign Up Form -->
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="button-row">
            <a class="common-button btn-green-outline" href="{% url 'account_login' %}">Back to Login</a>
            <button class="common-button btn-orange" type="submit">{% trans "Sign Up" %}</button>
        </div>
    </form>

{% endblock %}
