{% load static %}
{% load custom_tags %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="UTF-8">
    <meta name="author" content="Nuala Greenwood">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Dargan Health Foods is an independently-run health-food shop in Castletroy Shopping Centre, Limerick.">
    <meta name="keywords"
        content="Castletroy SC, Limerick, Organic, fresh, vibrant, SLS free, Nutritionists, family run business">
    <title>Dargan Health Foods | Castletroy Shopping Centre, Limerick</title>
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon.png">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock%}

    {% block corejs %}
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/5f7c1faf81.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock%}

    <title>Dargan Health Foods {% block title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid nav-container fixed-top">
        <!-- Desktop Top Nav -->
        <div id="desktop-top-nav" class="row pt-lg-2 d-none d-lg-flex">
            <div class="col-12">
                <ul>
                    <li><a href="{% url 'our_story' %}">Our Story</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}">Product Management</a></li>
                        {% endif %}
                    <li><a href="{% url 'profile' %}">My Account</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Join</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Desktop Middle Nav -->
        <div id="desktop-middle-nav" class="row bg-white d-none d-lg-flex">
            <!-- Main Logo -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link" title="Dargan Health Foods Home Link">
                    <img src="{{ MEDIA_URL }}seedling-logo-bigger-with-text.png" class="d-inline-block align-middle"
                        alt="Seedling Icon" loading="lazy" />
                </a>
            </div>
            <!-- Search Bar -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control rounded-0" type="text" name="q" placeholder="Search by keyword(s)">
                        <div class="input-group-append">
                            <button class="form-control common-button btn-forest-green border-green rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Mini Cart -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <div id="minicart">
                    <ul class="list-inline list-unstyled">
                        <li class="checkout-button list-inline-item">
                            <a class="btn btn-checkout rounded-0 {% if grand_total %} btn-orange {% else %} btn-cream disabled{% endif %}"
                                href="{% url 'checkout' %}">
                                Checkout
                            </a>
                        </li>
                        <li class="cart-info list-inline-item">
                            <i class="fas fa-shopping-cart {% if grand_total %}text-black{% else %}text-grey disabled{% endif %}"
                                aria-hidden="true"></i>
                            <a class="{% if grand_total %}text-black{% else %}text-grey disabled{% endif %}"
                                href="{% url 'view_cart' %}">
                                {% if grand_total %}
                                <span class="hide-for-small-laptop">{{ product_count }} items -
                                </span>€{{ grand_total|floatformat:2 }}
                                {% else %}
                                <span class="hide-for-small-laptop">0 items - </span>€0.00
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main Nav (Toggler on Tablet and Mobile) -->
        <div class="row bg-forest-green">
            <nav class="navbar navbar-expand-lg navbar-dark w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <!-- Delivery Banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-apple-green text-white">
                <h4 class="my-1">
                    <i class="fas fa-truck"></i>
                    Free delivery on orders over €{{ free_delivery_threshold }}!
                </h4>
            </div>
        </div>
    </header>



    {% block page_header %}
    <!-- Page Header -->
    {% endblock %}

    {% block messages %}
    {% if messages %}
    <!-- Message Container -->
    <div class="container-fluid messages-container" id="messages">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                {% for message in messages %}
                {% with message.level as level %}
                {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    <!-- Main Content Block -->
    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid footer-container pt-md-4">
        <div class="footer-area-top col-xl-9 mx-auto">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-box d-none d-sm-block">
                        <h4 class="footer-box-brand-header">Dargan Health Foods</h4>
                        <ul class="footer-box-list-contact-details list-unstyled">
                            <li class="address">
                                <a href="https://goo.gl/maps/Ktuehd7RdoimKafC9" target="_blank">
                                    Castletroy Town Centre, <br>Limerick
                                </a>
                            </li>
                            <li class="phone"><a href="tel:061339506" aria-label="0 6 1. 3 3 9 5 0 6.">+353 (0)61
                                    339506</a></li>
                            <li class="email"><a href="mailto:sales@dargan.ie" target="_blank"
                                    rel="noopener">sales@dargan.ie</a></li>
                        </ul>
                    </div>
                    <div class="accordion accordion-flush footer-box d-block d-sm-none">
                        <div class="accordion-item" id="accordion1">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Find Us
                                </button>
                            </h4>
                        </div>
                        <div class="accordion-body collapse bg-white" id="collapseOne" aria-labelledby="headingOne">
                            <ul class="accordion-list list-unstyled">
                                <li><img src="{{ MEDIA_URL }}seedling-logo-bigger-with-text.png"
                                        alt="Dargan Health Foods brand logo" width="100%" height="auto"></li>
                                <li class="address"><a href="https://goo.gl/maps/Ktuehd7RdoimKafC9"
                                        target="_blank">Castletroy Town Centre, <br>Limerick</a></li>
                                <li class="phone"><a href="tel:061339506" aria-label="0 6 1. 3 3 9 5 0 6.">+353 (0)61
                                        339506</a></li>
                                <li class="email"><a href="mailto:sales@dargan.ie" target="_blank"
                                        rel="noopener">sales@dargan.ie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-box d-none d-sm-block">
                        <h4 class="general-sub">Opening Hours</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mon - Fri</td>
                                    <td>9.30am - 5.30pm</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>10am - 5pm</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>12pm - 4pm</td>
                                </tr>
                                <tr>
                                    <td>Bank Holidays</td>
                                    <td>12pm - 4pm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer-box d-block d-sm-none">
                        <div class="accordion-item" id="accordion2">
                            <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Opening Hours
                                </button>
                            </h4>
                        </div>
                        <div class="accordion-body collapse bg-white" id="collapseTwo" aria-labelledby="headingTwo">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Mon - Fri</td>
                                        <td>9.30am - 5.30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>10am - 5pm</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday</td>
                                        <td>12pm - 4pm</td>
                                    </tr>
                                    <tr>
                                        <td>Bank Holidays</td>
                                        <td>12pm - 4pm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-box d-none d-sm-block">
                        <h4 class="general-sub">Quick Links</h4>
                        <ul class="footer-box-quick-links-list list-unstyled">
                            <li>
                                <!-- Solution to linking to a section on a page found at: https://engineertodeveloper.com/a-better-way-to-route-back-to-a-section-ids-in-django/-->
                                <a href="{% anchor 'home' 'about' %}" aria-label="About Us link">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}" aria-label="Contact Us link">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="" aria-label="Blog link">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'profile' %}" aria-label="My Account link">
                                    My Account
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-box d-block d-sm-none">
                        <div class="accordion-item" id="accordion3" role="tablist" aria-multiselectable="true">
                            <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" role="tab" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Quick Links
                                </button>
                            </h4>
                        </div>
                        <div class="accordion-body collapse bg-white" id="collapseThree" role="tabpanel"
                            aria-labelledby="headingThree">
                            <ul class="accordion-list list-unstyled">
                                <li>
                                    <a href="{% anchor 'home' 'about' %}" aria-label="About Us link">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" aria-label="Contact Us link">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="" aria-label="Blog link">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profile' %}" aria-label="My Account link">
                                        My Account
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row social-row bg-forest-green">
            <div class="col-12">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/darganhealthfoods/" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/darganhealthfoods/?hl=en" target="_blank" rel="noopener">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright-row bg-forest-green">
            <div class="col-12">
                <p>© 2021 Copyright <a href="https://nualagr.github.io/dargan-health-foods/">Dargan Health Foods
                        Ltd</a>. All Rights Reserved. </p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <!-- PostLoad JS -->
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        }); 
    </script>
    {% endblock %}
</body>

</html>