{% extends "base.html" %}
{% load static %}

{% block extra_header %}
    {% include 'includes/delivery_banner.html' %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Add Product Review Container -->
<div class="container-fluid section-container pt-0">
    <!-- Add Product Review Page Title Row -->
    <div class="row page-title-wapper">
        <div class="col-12 col-lg-9 mx-auto">
            <h3 class="page-title text-muted" id="page-title-heading" aria-labelledby="page-title-heading">
                You are reviewing: 
                <p class="my-3 text-green text-center">{{ product.brand.friendly_name }}'s <strong>{{ product.friendly_name }}</strong></p>
            </h3>
        </div>
    </div>
    <!-- Add Product Review Form Row -->
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            {% if request.user.is_authenticated %}
                <form class="form product-review-form" action="{% url 'add_review' product.id %}" method="POST">
                    {% csrf_token %}
                    {{ prform|crispy }}
                    <div class="button-row">
                        <a class="common-button btn-green-outline" href="{% url 'product_detail' product.id %}" aria-label="To Product Details Page link">
                            To Product Page
                        </a>
                        <button class="common-button btn-orange" action="submit" aria-label="Product Review Submit Button">
                            <i class="fas fa-cloud-upload-alt"></i> Post Review
                        </button>
                    </div>
                </form>
            {% else %}
                <p class="text=center">Only Dargan Health Food members can review products.  <a class="green-text-link" href="{% url 'account_signup' %}">Register here.</a></p>
                <p class="text=center">Already a member? Please <a class="green-text-link" href="{% url 'account_login' %}">sign in</a> in order to leave your review.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
