{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit Product Container -->
<div class="container-fluid section-container pt-0">
    <!-- Edit Product Page Title Row -->
    <div class="row page-title-wapper">
        <div class="col-12 col-lg-9 mx-auto">
            <h1 class="page-title text-center" id="page-title-heading" aria-labelledby="page-title-heading">
                Edit Product
            </h1>
        </div>
    </div>
    <!-- Edit Product Form and Product Tags Formset Row -->
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <!-- Encoding type attribute included since the form will potentially be submitting an image field -->
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in pform %}
                    {% if field.name != 'main_image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                {% if ptformset %}
                    {{ ptformset.management_form }}
                    {% for form in ptformset %}
                        {{ form | crispy }}
                    {% endfor %}
                {% endif %}
                <div class="button-row">
                    <a class="common-button btn-grey" href="{% url 'product_detail' product.id %}"><i class="fas fa-times"></i>&nbsp;Cancel</a>
                    <button class="common-button btn-forest-green" type="submit"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Edit Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // When the new image input changes
    $("#new-image").change(function () {
        // Get the file that was added to it
        var file = $("#new-image")[0].files[0];
        // Set the paragraph in the widget template to display the new name
        $("#filename").text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}