{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block title %}Product Details{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Product Details Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto col-xl-9 offset-xl-1">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="item products">
                        <a href="{% url 'products' %}" title="Go to Products Page">
                            Products
                        </a>
                    </li>
                    <li class="item category">
                        <a href="{% url 'products' %}?category={{ product.category }}"
                            title="Go to related Category Page">
                            {{ product.category|title|to_ampersand }}
                        </a>
                    </li>
                    <li class="item product">
                        <strong>{{ product.friendly_name }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Individual Product Details Container -->
<div class="container-fluid">
    <div class="individual-product-container">
        <!-- Individual Product Details Row -->
        <div class="row">
            <!-- Product Image Column -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1 col-xl-4">
                <div class="product-image-container my-5 ribbon-wrapper">
                    {% if product.main_image %}
                    <img class="product-details-image" src="{{ MEDIA_URL }}{{ product.main_image }}"
                        alt="{{ product.abbreviated_friendly_name }}">

                    {% else %}
                    <img class="product-details-image" src="{{ MEDIA_URL }}/product_images/no-image-placeholder.svg"
                        alt="{{ product.abbreviated_friendly_name }}">
                    {% endif %}
                    {% if product.on_offer and product.discount_price %}
                    <span class="ribbon1">
                        <span>SAVE</span>
                    </span>
                    {% endif %}
                </div>
            </div>
            <!-- Product Details Column -->
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-xl-1">
                <div class="product-details-container mb-5 mt-md-5">
                    <h1>{{ product.friendly_name }}</h1>
                    <p>
                        <span class="stars-outer">
                            <span class="stars-inner" style="width:{% widthratio product.avg_rating 5 100 %}%;"></span>
                        </span>
                        <span class="text-muted">
                            {{ product.avg_rating|floatformat:1 }}&nbsp;&nbsp;
                            {% if reviews %}
                            <a href="{% url 'product_detail' product.id %}#collapseReviews" class="green-text-link"
                                id="open-product-reviews">
                                ({{ reviews|length }} review{{ reviews|length|pluralize }})
                            </a>
                            {% endif %}
                        </span>
                    </p>
                    <p class="lead">
                        {% if product.on_offer and product.discount_price %}
                        now €{{ product.discount_price }} 
                        <span class="small text-muted strike-through">was €{{ product.price }}</span>
                        {% else %}
                        €{{ product.price }}
                        {% endif %}
                    </p>
                    {% if tags %}
                    <p class="small">
                        <i class="fas fa-tag mr-1"></i>
                        {% for tag in tags %}
                        <a class="tag" href="{% url 'products' %}?tag={{ tag.tag.name }}">
                            {{ tag.tag.friendly_name }}
                        </a>&nbsp;
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="blue-text-link" href="{% url 'edit_product' product.id %}">Edit</a> |
                        <!-- Delete Product Modal Trigger -->
                        <a class="red-text-link" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                    </small>
                    {% endif %}
                    <p class="mt-3">
                        {{ product.information }}
                    </p>
                    <!-- Quantity Form and Add to Cart Button -->
                    <form class="row" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-2 m-0 pe-0">
                            <div class="input-group">
                                <input class="form-control qty-input rounded-0" type="number" name="quantity" value="1"
                                    min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            </div>
                        </div>
                        <div class="col-10 m-0 ps-0">
                            <input type="submit" class="common-button btn-orange add-to-cart-btn" value="Add to Cart">
                        </div>
                        <!-- Submit the current url with the form so that we can redirect the user back to the same page once the item has been added to the Cart -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
        <!-- Product Detail Accordion Row -->
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <div class="accordion accordion-flush">
                    <!-- Product Details Accordion -->
                    <div class="accordion-item" id="accordionDetails">
                        <h4 class="accordion-product-info-header" id="headingDetails">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                                Details
                            </button>
                        </h4>
                    </div>
                    <div class="accordion-body collapse" id="collapseDetails" aria-labelledby="headingDetails">
                        <!-- Ingredients -->
                        {% if product.ingredients %}
                        <p>
                            <strong>
                                Ingredients:
                            </strong>
                        </p>
                        <p>
                        <ul>
                            {% for ingredient in product.ingredients|split:"," %}
                            <li>
                                {{ ingredient }}
                            </li>
                            {% endfor %}
                        </ul>
                        </p>
                        <br>
                        {% endif %}
                        <!-- Directions for Usage -->
                        {% if product.usage %}
                        <p>
                            <strong>
                                Usage:
                            </strong>
                        </p>
                        <p>
                            {{ product.usage }}
                        </p>
                        <br>
                        {% endif %}
                    </div>
                </div>
                <!-- More Information Accordion -->
                <div class="accordion-item" id="accordionMoreInformation">
                    <h4 class="accordion-product-info-header" id="headingMoreInformation">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseMoreInformation" aria-expanded="false"
                            aria-controls="collapseMoreInformation">
                            More Information
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseMoreInformation"
                    aria-labelledby="headingMoreInformation">
                    {% if product.weight_g %}
                    <p>
                        <strong>
                            Weight:
                        </strong>
                        {{ product.weight_g }}g
                    </p>
                    <br>
                    {% endif %}
                    {% if product.free_from %}
                    <p>
                        <strong>
                            Free From:
                        </strong>
                        {{ product.free_from }}
                    </p>
                    <br>
                    {% endif %}
                    {% if product.allergens %}
                    <p>
                        <strong>
                            Allergens:
                        </strong>
                        {{ product.allergens }}
                    </p>
                    <br>
                    {% endif %}
                </div>
                <!-- Disclaimer Accordion -->
                <div class="accordion-item" id="accordionDisclaimer" role="tablist" aria-multiselectable="true">
                    <h4 class="accordion-product-info-header" id="headingDisclaimer">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDisclaimer" role="tab" aria-expanded="false"
                            aria-controls="collapseDisclaimer">
                            Disclaimer
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseDisclaimer" role="tabpanel"
                    aria-labelledby="headingDisclaimer">
                    <p>
                        Please note that while we take every care to make sure the product information displayed on our
                        website is correct, product recipes are regularly changed. This may affect nutrition and
                        allergen information therefore you should always check product labels and not rely solely on the
                        information presented here.
                    </p>
                </div>
                <!-- Customer Reviews Accordion -->
                <div class="accordion-item" id="accordionReviews">
                    <h4 class="accordion-product-info-header" id="headingReviews">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
                            Customer Reviews
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseReviews" aria-labelledby="headingReviews">
                    {% if request.user.is_authenticated %}
                    {% if can_review %}
                    <!-- Open ProductReview Form button -->
                    <div class="my-3 text-end">
                        <a class="common-button btn-forest-green" href="{% url 'add_review' product.id %}">
                            <i class="fas fa-user-edit"></i>&nbsp;Leave a Review
                        </a>
                    </div>
                    {% endif %}
                    {% else %}
                    <small>
                        <p class="text-end text-muted">
                            Have you purchased this product? Please
                            <a class="blue-text-link" href="{% url 'account_login' %}">login</a>
                            or
                            <a class="blue-text-link" href="{% url 'account_signup' %}">register</a>
                            to write a review for this product.
                        </p>
                    </small>
                    {% endif %}
                    {% if reviews %}
                    {% for review in reviews %}
                    <div>
                        <span class="stars-outer">
                            <span class="stars-inner" style="width:{% widthratio review.review_rating 5 100 %}%;">
                            </span>
                        </span>
                        <span>
                            <strong>&nbsp;{{ review.review_title }}</strong>
                        </span>
                    </div>
                    <div class="my-1 text-muted">
                        <small>Reviewed by {{ review.user }} on {{ review.created }}</small>
                        {% if request.user.is_authenticated %}
                        {% if user.id == review.user.id %}
                        <small>
                            <a class="blue-text-link" href="{% url 'edit_review' review.id %}">Edit</a> |
                            <!-- Delete Review Modal Trigger -->
                            <a class="red-text-link" data-bs-toggle="modal"
                                data-bs-target="#deleteReviewModal">Delete</a>
                        </small>
                        <!-- Delete Review Modal -->
                        <div class="modal fade" id="deleteReviewModal" tabindex="-1"
                            aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content rounded-0">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger text-center" id="deleteReviewModalLabel">
                                            Are you sure that you want to delete this review?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        Your product review really helps other shoppers get a clearer idea of the
                                        product before purchasing it.
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <a class="common-button btn-blue" data-bs-dismiss="modal"><i
                                                class="fas fa-undo"></i>&nbsp;Cancel</a>
                                        <a class="common-button btn-grey" href="{% url 'delete_review' review.id %}">
                                            <i class="far fa-trash-alt"></i>&nbsp;Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        {{ review.review_content|linebreaks }}
                    </div>
                    <hr>
                    {% endfor %}
                    {% else %}
                    <div>
                        <p>No customer reviews currently exist for this product.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Product Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title text-red" id="deleteModalLabel">{{ product.friendly_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Are you sure that you want to delete this product?
            </div>
            <div class="modal-footer justify-content-center">
                <a class="common-button btn-forest-green" data-bs-dismiss="modal"><i
                        class="far fa-save"></i>&nbsp;Retain</a>
                <a class="common-button btn-grey" href="{% url 'delete_product' product.id %}" %}><i
                        class="far fa-trash-alt"></i>&nbsp;Delete</a>
            </div>
        </div>
    </div>
</div>

{% include 'includes/newsletter-subscription-box.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Reveal Customer Reviews Accordion when Total Review Count clicked
    $(document).ready(function () {
        $('#open-product-reviews').click(function () {
            let accordion_body = $("#collapseReviews")
            let accordion_button = $("#headingReviews").children("button")
            // Check that the accordion body has not already been opened
            if ((accordion_body.hasClass("collapse")) && (accordion_body.is(":not(.show)"))) {
                // Toggle the 'collapse' class to reveal the Reviews Accordion Body Content
                accordion_body.toggleClass("collapse");
                // Toggle the 'collapsed' class so that the accordion button styling mimics that of a clicked accordion button
                accordion_button.toggleClass("collapsed");
                // Programmatically simulate clicking the button so that the accordion now closes when the user clicks on it to close it
                accordion_button.click();
            }
        });
    });
</script>
{% endblock %}