{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block title %}Products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <li class="item home">
                            <a href="{% url 'products' %}" title="Go to Products Page">
                                Products
                            </a>
                        </li>
                    {% endif %}
                    {% if search_term %}
                    <li class="item products">
                        <strong>Search Results For: "{{ search_term }}"</strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Products -->
<div class="container-fluid section-container">
    <div class="row page-title-wapper">
        <div class="col-12 col-lg-9 mx-auto">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">
                    {% if search_term %}
                        Search Results For: "{{ search_term }}"
                    {% elif current_department %}
                        {% for department in current_department %}
                            All {{ department|title|to_ampersand }}
                        {% endfor %}
                    {% elif current_categories %}
                        {% for category in current_categories %}
                            {% if forloop.last %}
                                {{ category|title|to_ampersand }}
                            {% else %}
                                {{ category|title|to_ampersand }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <div class="row">
                <!-- Result Count -->
                <div class="col-6">
                    <p class="text-muted">
                        {% with products|length as l %}
                        {% if l == 0 %}
                            0 Items Found
                        {% elif l < 12 %}
                            Items 1-{{ products|length }} of {{ products|length }}
                        {% else %}
                            Items 1-12 of {{ products|length }}
                        {% endif %}
                        {% endwith %}
                    </p>
                </div>
                <!-- Sort Options -->
                <div class="col-6">
                    <div class="dropdown-sort-products">
                        <select id="sort-selector"
                            class="rounded-0">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-container">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <!-- Display Products Row -->
                <div class="row">
                    {% if products%}
                    {% for product in products %}
                    <div class="col-6 col-md-3">
                        <!-- Bootstrap Card copied from https://getbootstrap.com/docs/5.0/components/card/ and then modified -->
                        <div class="card text-center">
                            {% if product.main_image %}
                            <a href="{% url 'product_detail' product.id %}" class="product-link">
                                <img src="{{ MEDIA_URL }}{{ product.main_image }}" class="card-img-top"
                                    alt="{{ product.abbreviated_friendly_name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}" class="product-link">
                                <img src="{{ MEDIA_URL }}/product_images/no-image-placeholder.svg" class="card-img-top"
                                    alt="{{ product.abbreviated_friendly_name }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text brand-name">{{ product.brand }}</p>
                                <a href="{% url 'product_detail' product.id %}" class="product-link">
                                    <h5 class="card-title">{{ product.abbreviated_friendly_name}}</h5>
                                </a>
                                <p class="card-text product-price">€{{ product.price }}</p>
                            </div>
                            <div class="card-footer bg-white border-0">
                                <div class="row">
                                    <div class="col">
                                        <form>
                                            <input type="hidden" name="sku" value="{{ product.sku }}">
                                            <div class="button-wrapper">
                                                <button class="btn-orange quick-add-to-cart-btn" type="submit"
                                                    data-test="quick-add" data-uievent="addtobasket"
                                                    data-skuid="{{ product.sku }}" data-productid="{{ product.id }}"
                                                    data-href="/shop/product/{{ product.name }}">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-12">
                        Sorry, no results found...
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!-- Pagination Navigation taken from Bootstrap: https://getbootstrap.com/docs/4.0/components/pagination/ and then modified -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                aria-label="Link to Previous Page">
                                <span aria-hidden="true">&#x3C;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="" aria-label="Link to Previous Page">
                                <span aria-hidden="true">&#x3C;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}" aria-label="Link to Page {{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                aria-label="Link to Next Page">
                                <span aria-hidden="true">&#x3E;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="" aria-label="Next">
                                <span aria-hidden="true">&#x3E;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Newsletter -->
    <div class="container-fluid section-container bg-light-green">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto text-center">
                <h2>Sign Up For Our Newsletter</h2>
                <p>Join our mailing list to get the latest updates and offers straight to your inbox.</p>
            </div>
            <div class="col-12 col-lg-9 mx-auto text-center newsletter">
                <form class="form subscribe" novalidate="novalidate" action="" method="post"
                    id="newsletter-validate-detail">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control border-apple-green rounded-0" id="newsletter-email"
                                placeholder="Enter your email address" aria-label="Enter your email address"
                                aria-describedby="newsletter-submit-button">
                            <div class="input-group-append" id="newsletter-submit-button">
                                <button class="btn btn-apple-green" type="button">
                                    <i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}