{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block title %}Product Details{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Product Details Breadcrumbs Navigation -->
<div class="container-fluid breadcrumbs-container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto col-xl-9 offset-xl-1">
            <div class="breadcrumbs">
                <ul class="items">
                    <li class="item home">
                        <a href="{% url 'home' %}" title="Go to Home Page">
                            Home
                        </a>
                    </li>
                    <li class="item products">
                        <a href="{% url 'products' %}" title="Go to Products Page">
                            Products
                        </a>
                    </li>
                    <li class="item category">
                        <a href="{% url 'products' %}?category={{ product.category }}" title="Go to related Category Page">
                            {{ product.category|title|to_ampersand }}
                        </a>
                    </li>
                    <li class="item product">
                        <strong>{{ product.friendly_name }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Individual Product Information -->
<div class="container-fluid">
    <div class="individual-product-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1 col-xl-4">
                <div class="product-image-container my-5">
                    {% if product.main_image %}
                    <img class="product-details-image" src="{{ MEDIA_URL }}{{ product.main_image }}"
                        alt="{{ product.abbreviated_friendly_name }}">
                    {% else %}
                    <img class="product-details-image" src="{{ MEDIA_URL }}/product_images/no-image-placeholder.svg"
                        alt="{{ product.abbreviated_friendly_name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-xl-1">
                <div class="product-details-container mb-5 mt-md-5">
                    <h1>{{ product.friendly_name }}</h1>
                    <p>
                        <span class="stars-outer">
                            <span class="stars-inner" style="width:{{ product.avg_rating_percentage }}%;"></span>
                        </span>
                    </p>
                    <p class="lead text-left font-weight-bold">€{{ product.price }}</p>
                    {% if tags %}
                    <p class="small">
                        <i class="fas fa-tag mr-1"></i>
                        {% for tag in tags %}
                        <a class="tag" href="{% url 'products' %}?tag={{ tag.tag.name }}">
                            {{ tag.tag.friendly_name }}&nbsp;
                        </a>
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="blue-text-link" href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="red-text-link" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                    <p class="mt-3">
                        {{ product.information }}
                    </p>
                    <!-- Quantity Form and Add to Cart Button -->
                    <form class="row" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-2 m-0 pe-0">
                            <div class="input-group">
                                <input class="form-control qty-input rounded-0" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            </div>
                        </div>
                        <div class="col-10 m-0 ps-0">
                            <input type="submit" class="common-button btn-orange add-to-cart-btn" value="Add to Cart">
                        </div>
                        <!-- Submit the current url with the form so that we can redirect the user back to the same page once the item has been added to the Cart -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <div class="accordion accordion-flush">
                    <div class="accordion-item" id="accordionDetails">
                        <h4 class="accordion-product-info-header" id="headingDetails">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
                                Details
                            </button>
                        </h4>
                    </div>
                    <div class="accordion-body collapse" id="collapseDetails" aria-labelledby="headingDetails">
                        <!-- Ingredients -->
                        {% if product.ingredients %}
                        <p>
                            <strong>
                                Ingredients:
                            </strong>
                        </p>
                        <p>
                            <ul>
                                {% for ingredient in product.ingredients|split:"," %}
                                <li>
                                    {{ ingredient }}
                                </li>
                                {% endfor %}
                            </ul>                         
                        </p>
                        <br>
                        {% endif %}
                        <!-- Directions for Usage -->
                        {% if product.usage %}
                        <p>
                            <strong>
                                Usage:
                            </strong>
                        </p>
                        <p>
                            {{ product.usage }}
                        </p>
                        <br>
                        {% endif %}
                    </div>
                </div>
                <div class="accordion-item" id="accordionMoreInformation">
                    <h4 class="accordion-product-info-header" id="headingMoreInformation">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoreInformation" aria-expanded="false" aria-controls="collapseMoreInformation">
                            More Information
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseMoreInformation" aria-labelledby="headingMoreInformation">
                    {% if product.weight_g %}
                    <p>
                        <strong>
                            Weight:
                        </strong>
                        {{ product.weight_g }}g
                    </p>
                    <br>
                    {% endif %}
                    {% if product.free_from %}
                    <p>
                        <strong>
                            Free From:
                        </strong>
                        {{ product.free_from }}
                    </p>
                    <br>
                    {% endif %}
                    {% if product.allergens %}
                    <p>
                        <strong>
                            Allergens:
                        </strong>
                        {{ product.allergens }}
                    </p>
                    <br>
                    {% endif %}
                </div>
                <div class="accordion-item" id="accordionDisclaimer" role="tablist" aria-multiselectable="true">
                    <h4 class="accordion-product-info-header" id="headingDisclaimer">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDisclaimer" role="tab" aria-expanded="false"
                            aria-controls="collapseDisclaimer">
                            Disclaimer
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseDisclaimer" role="tabpanel"
                    aria-labelledby="headingDisclaimer">
                    <p>
                        Please note that while we take every care to make sure the product information displayed on our
                        website is correct, product recipes are regularly changed. This may affect nutrition and
                        allergen information therefore you should always check product labels and not rely solely on the
                        information presented here.
                    </p>
                </div>
                <div class="accordion-item" id="accordionReviews">
                    <h4 class="accordion-product-info-header" id="headingReviews">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
                            Reviews
                        </button>
                    </h4>
                </div>
                <div class="accordion-body collapse" id="collapseReviews" aria-labelledby="headingReviews">
                    {% if product.avg_rating %}
                    <p>
                        <strong>
                            Average Rating:
                        </strong>
                        {{ product.avg_rating }}
                    </p>
                    <br>
                    {% else %}
                    <p>No reviews currently exist for this product.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/newsletter-subscription-box.html' %}
{% endblock %}